@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  margin: 0;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* هیچ CSS دستی برای componentها ننویس */
/* همه چیز با Tailwind مدیریت می‌شود */